<%- include partials/header %>
  <main class="blog">
    <h1>Some Old Book Reviews</h1>
    <h2>Long Form Reviews</h2>
    <section>
      <!-- 1x4 CARD PATTERN (DESKTOP) -->
      <div class="blog-card-grid">
        <div class="blog-item cross-manage">
          <a href="crossmanagereview"><img src="img/blog/covers/crossmanage.png" alt="Cross Manage Chapter 1 Splash Page"></a>
          <h4>Cross Manage by KAITO</h4>
          <p>In a post-Slam Dunk world, are there even any sports manga worth reading anymore? Cross Manage says YES.</p>
          <a href="crossmanagereview" class="blue-a">Read More</a>
        </div>
        <div class="blog-item from-far-away">
          <a href="fromfarawayreview"><img src="img/blog/covers/from-far-away.jpg" alt="From Far Away Izark & Noriko"></a>
          <h4>From Far Away by Kyoko Hikawa</h4>
          <p>A lovely isekai tale with one of the best male protagonists the genre has to offer.</p>
          <a href="fromfarawayreview" class="blue-a">Read More</a>
        </div>
        <div class="blog-item qq-sweeper">
          <a href="qqsweeperreview"><img src="img/blog/covers/qq-sweeper-vol-1.png" alt="QQ Sweeper Vol 1 Cover"></a>
          <h4>QQ Sweeper by Kyousuke Motomi</h4>
          <p>Kyousuke Motomi's sophomore work about a supernatural "cleaning" duo!</p>
          <a href="qqsweeperreview" class="blue-a">Read More</a>
        </div>
        <div class="blog-item red-river">
          <a href="redriverreview"><img src="img/blog/covers/red-river.jpg" alt="Red River Color Image"></a>
          <h4>Red River by Chie Shinohara</h4>
          <p>Another sweepingly dramatic story about a girl being whisked to another world. But with less character development.</p>
          <a href="redriverreview" class="blue-a">Read More</a>
        </div>
      </div>
    </section>
    <section>
      <h2>One Paragraph Reviews</h2>
      <div class="snippet-section">
        <div class="snippet-box">
          <img src="img/blog/covers/fresh-off-the-boat.jpg" alt="Fresh Off The Boat Cover">
          <div class="snippet">
            <h4>Fresh Off the Boat by Eddie Huang</h4>
            <h5>Genre: Memoir</h5>
            <p>I picked this up because of the TV show, and I hope more people do the same because it is effin’ hysterical. Fresh Off the Boat has a lot of insightful cultural analysis about what it’s like to grow up and live as an Asian immigrant in the U.S., relayed via multiple anecdotes that any second-gen immigrant Asian kid brought up during the 80s and 90s can surely relate to. The bits on street wear and basketball tended to lose me but overall I thought it was an intelligent, honest, and confident memoir. (And I’m not gonna lie: I’m always entertained when minorities make educated digs at whiteness/white culture)</p>
          </div>
        </div>
        <div class="snippet-box">
          <img src="img/blog/covers/a-single-man.jpg" alt="A Single Man Cover">
          <div class="snippet">
            <h4>A Single Man by Christopher Isherwood</h4>
            <h5>Genre: Fiction</h5>
            <p>Introspective novel that follows the main character, George, for 24 hours as he grieves his dead lover. This novel is exquisite. I'm kinda bad at making sweeping statements about books that truly move me (I'm much better at sarcasm, ha ha), but this one is a must-read.</p>
          </div>
        </div>
        <div class="snippet-box">
          <img src="img/blog/covers/girl-on-the-train.jpg" alt="Girl on the Train Cover">
          <div class="snippet">
            <h4>The Girl on the Train by Paula Hawkins</h4>
            <h5>Genre: Mystery</h5>
            <p>I can't believe that critics, readers, whoever, are comparing this to Gone Girl. This book is a straightforward, unexciting mystery novel with none of Gone Girl's character development and social commentary. The narrators all sound the same (it bugs me when authors can't write distinct first person voices) and the mystery is totally contrived because all the unknown stems from the main character's drunken blackout-induced amnesia. I'm mad I wasted time on this.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
<%- include partials/footer %>