<%- include partials/header %>

  <!-- Note: This is the only post with images and a pull quote -->
  <main class="blog-post">
    <article>
      <div class="article-header">
        <h1>Book Review: Cross Manage by KAITO</h1>
        <div class="author-date">
          <p>Author</p>
          <p>Published</p>
          <p>Katherine Picazo</p>
          <p>June 13, 2014</p>
        </div>
      </div>
      <div class="series-info"> 
        <p>Length: 5 volumes</p>
        <p>Genre: Shonen - sports, comedy, romance</p>
        <p>Publisher: <a href="https://www.viz.com/cross-manage" target="_blank">Viz Media</a> (digital only)</p>
        <br>
        <p>All images © 2012 by KAITO/SHUEISHA Inc.</p>
      </div>

      <h2>Summary</h2> 
      <img src="img/blog/sakurai_misora.png" alt="Cross Manage Chapter 1 Panel" class="blog-img-1">
      <p>Sakurai is a 2nd year high school student who fears he’s become someone who just coasts through life (“a red bean bun without the beans”). He’s smart and picks things up easily, but he can’t seem to develop a passion for anything anymore, not after a knee injury forced him to give up a promising high school soccer career. That all changes when he meets Misora Toyoguchi, captain of the Fujioka Girls’ Lacrosse Club. They clash on their differing opinions about sports: Toyoguchi thinks you don’t need to be any good at a sport as long as you enjoy it, but Sakurai disagrees and thinks it’s all pointless unless you play to win. After he reluctantly coaches her on how to hit a target, she’s struck with an idea: he should join the Lacrosse Team as their manager!</p>

      <h2>Impressions</h2>

      <p>I’m trying to think of a single thing I don’t like about this comic and I’m coming up short. Everything about <em>Cross Manage</em> is delightful: the writing, the art, the humor, and most importantly, the characters. With all the crazy sports stuff going on–the grueling training sessions, the reluctant teammates, the rivals and the detractors–the bond between Sakurai and Misora is the glue that holds everything together. And it’s through this central relationship that Kaito explores some important questions: Is it possible to find purpose again after a great loss? Can hard work and determination trump innate skill? How far can one’s limits be pushed to achieve greater things?</p>

      <blockquote>
        <q>Everything about Cross Manage is delightful: the writing, the art, the humor, and most importantly, the characters.</q>
      </blockquote>

      <p>The secondary cast is just as entertaining as our main pair. A sports manga will inevitably have a shit ton of characters; it’s just part of the territory. And it can get pretty unwieldy. Fortunately, Kaito is amazing at characterization – all his characters have their own charms and quirks to distinguish themselves from one another. I really enjoyed the character designs for all the lacrosse players, which you can see in the image below.</p>
      
      <img src="img/blog/all-girls-team.png" alt="Cross Manage Character Designs 1" class="blog-img-2">

      <p>So yeah… I can’t help but wonder why <em>Cross Manage</em> was so unpopular at the time of its serialization. Were Jump readers just not into lacrosse or something? Did Kaito take too long explaining the mechanics of the sport? Maybe. It takes four chapters to get to the “action”, that is, actual scenes depicting lacrosse in play, and another chapter or two after that to explain some of the rules of the game. Maybe readers got impatient for the action and weren’t as charmed as I was by the character work in the early chapters.</p>

      <p>Or maybe young dudes reading Jump didn’t like that Sakurai was the team manager–a supporting role normally filled by girls–and not the star of the lacrosse team himself? Who knows for sure? I can only speculate. These narrative decisions might have been a little risky, but I thought they were a breath of fresh air for a Weekly Shonen Jump title.</p>

      <h2>How's the Translation?</h2>
      <p>I think <em>Cross Manage</em> is one of Viz’s better efforts. The dialogue reads very naturally, like it’s actual teenagers talking to each other. There are no honorifics and there are no explanatory footnotes at all. Overall it feels like little adaptation was needed for a North American audience.</p>

      <p>My only gripe is that the original Japanese sound effects are still intact here, with the English translation lettered next to them. I really dislike this practice, and unfortunately, this has long become the norm for a lot of manga publishers here. When the original SFX is left alone, it makes the book look sorta… incomplete. And unprofessional. Viz usually retouches the art for their books, but I noticed that they don’t for their digital-only releases, like their simulpubs. Which is fine. I’m OK with digital-only volumes not being lettered as long as the physical copies get the VIP treatment. (For a recent example, the early digital volumes of <em>One-Punch Man</em> did not have retouched art and re-lettering, but when Viz decided to go physical, they went all-out with the lettering and it looks sooooooooo good.)</p>

      <p>Sadly I don’t see <em>Cross Manage</em> ever getting a hard copy release, so Viz is probably never gonna go back and letter it all. Oh well.</p>

      <h2>Final Thoughts</h2>
      <p>The fact that <em>Cross Manage</em> kept ranking so poorly for nearly its entire run in Japan and was eventually cancelled by WSJ makes me wanna cry a little. For me, this story hits the spot in all the right ways: it has a perfect balance of action, drama, romance and humor. And it has a unique protagonist in Sakurai who gets a wonderful character arc even though he doesn’t take center stage in the lacrosse action. I really can't overstate what a great storytelling choice this was!</p>

      <p>I think with a little more time, Kaito could have had a truly great title on his hands. There were some ideas that could have been explored a little more… and other characters could’ve been fleshed out… But for five volumes I think he did a pretty damn good job.</p>
    </article>
  </main>
<%- include partials/footer %>