<%- include partials/header %>

<main class="file-not-found">
  <h1>Sorry!</h1>
  <h2>We can't find the page you were looking for. Either the page doesn't exist anymore, or you might have typed the wrong address.</h2>
</main>

<%- include partials/footer %>