<%- include partials/header %>
  <main class="blog-post">
    <article>
      <div class="article-header">
        <h1>Book Review: From Far Away by Kyoko Hikawa</h1>
        <div class="author-date">
          <p>Author</p>
          <p>Published</p>
          <p>Katherine Picazo</p>
          <p>August 11, 2013</p>
        </div>
      </div>
      <div class="series-info"> 
        <p>Length: 14 volumes</p>
        <p>Genre: Shojo - fantasy, adventure, romance</p>
        <p>Publisher: <a href="https://www.viz.com/from-far-away" target="_blank">Viz Media</a> (out of print now, but digital volumes available)</p>
      </div>

      <h2>Summary</h2>

      <p>Walking home from school one day, Noriko is transported to a strange, fantastical world. Alone and disoriented, she finds herself in the Sea of Trees, pursued by both monsters and humans for reasons she doesn't yet understand. She's rescued by Izark, a mysterious young warrior. As Noriko spends more time living in this new world and learning the language, she discovers that within Izark dwells an evil being called the Sky Demon. And according to ancient prophecy, Noriko was brought to this world as the Awakening, a being that possesses the power to unleash that demon.</p>

      <h2>Review</h2>

      <p>I am so glad Viz had a huge digital fantasy sale. I probably never would have gotten the chance to read this otherwise because it's sadly out of print.</p>

      <p>The premise sounds a tiny bit similar to that of Red River, but the heroines being whisked away to faraway worlds is the only thing the two stories have in common. In terms of narrative and character development (and even artwork, but maybe that's a little more subjective), From Far Away is by far the superior manga. This is a story with a clear through line, with specific themes and ideas it wants to explore, and at 14 volumes, the pacing is just right.</p>

      <h3>Highlights</h3>

      <ul>
          <li>Beautiful artwork, similar style to other manga in the same genre, but action scenes are really nice and fluid, good grasp of movement, something I don't really expect from a shojo manga (lol)</li>
          <li>Romance between Noriko and Izark is well-written and incredibly moving</li>
          <li>Izark's character development is the heart of the story - teaches self-acceptance, power to change one's destiny, overcoming one's inner darkness to find one's inner light</li>
          <li>Worldbuilding is good</li>
          <li>Villains are well-written, even sympathetic - author hints at redemption for them at the end</li>
      </ul>
    </article>
  </main>
<%- include partials/footer %>