<%- include partials/header %>
  <main class="gallery">
    <section class="photo-grid">
      <h1>Random Photos</h1>
      <ul>
        <li><img src="img/gallery/1.jpg" alt="Patty on the Trail"></li>
        <li><img src="img/gallery/2.jpg" alt="Patty as a Statue"></li>
        <li><img src="img/gallery/3.jpg" alt="Radium"></li>
        <li><img src="img/gallery/4.jpg" alt="Melvin in NDG"></li>
        <li><img src="img/gallery/5.jpg" alt="Graffiti Mural"></li>
        <li><img src="img/gallery/6.jpg" alt="Jordan at the Bell Centre"></li>
        <li><img src="img/gallery/7.jpg" alt="Engineering Students"></li>
        <li><img src="img/gallery/8.jpg" alt="Late Night Skating"></li>
        <li><img src="img/gallery/9.jpg" alt="Maria and Nick"></li>
        <li><img src="img/gallery/10.jpg" alt="Downtown Calgary"></li>
      </ul>
    </section>
  </main>
<%- include partials/footer %>