<%- include partials/header %>
<main class="contact">
  <h1>Login</h1>
  <form action="/blog/login" method="post" class="login-form">
    <fieldset>
      <legend>Log in to access blog posts</legend>

      <!-- TODO: Store error message in a partial -->
      <div class="error-msg">
        <h2><%= errMsg %></h2>
      </div>

      <label for="username">Email</label>
      <input type="text" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" name="password">

      <div class="contact-buttons">
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
      </div>
      
    </fieldset>
  </form>
</main>

<%- include partials/footer %>