<%- include partials/header %>
  <main class="blog-post">
    <article>
      <div class="article-header">
        <h1>Book Review: QQ Sweeper by Kyousuke Motomi</h1>
        <div class="author-date">
          <p>Author</p>
          <p>Published</p>
          <p>Katherine Picazo</p>
          <p>October 4, 2015</p>
        </div>
      </div>
      <div class="series-info"> 
        <p>Length: 3 volumes</p>
        <p>Genres: Shojo - supernatural, romance</p>
        <p>Publisher: <a href="https://www.viz.com/qq-sweeper" target="_blank">Viz Media</a> (digital only)</p>
      </div>

      <h2>Impressions</h2>

      <p>I looooooove Kyousuke Motomi. She wowed me with <span>Dengeki Daisy</span>, a title that on the surface might seem like standard rom-com fare, but is in reality a layered story about guilt and self-forgiveness.</p>

      <p><span>QQ Sweeper</span>, though? I dunno. I wasn’t feeling it. I suppose I can’t knock on it too much knowing it’s actually a prequel, but stories that are part of a series should still be able to stand on their own, right?</p>

      <h3>The Good</h3>
      <ul>
          <li>Motomi’s knack for protective, devoted male characters shows itself again here with the character of Kyutaro</li>
          <li>Literal cleaning to demonstrate psychological cleaning, therapy, cleansing one’s mind, etc, is a unique and interesting idea</li>
          <li>Kyutaro a standout character, very different from Kurosaki (Dengeki Daisy) – more vulnerable and willing to admit his loneliness; his love and pining for Fuyu/Fumi is really moving</li>
          <li>Dengeki Daisy cameos were cute</li>
      </ul>

      <h3>The Bad</h3>

      <ul>
          <li>Motomi’s male protagonists all look the same!</li>
          <li>Fumi's character isn't fleshed out very well and it makes the ending more jarring when we realize her role is going to change significantly in the story</li>
      </ul>

      <h2>Final Thoughts</h2>
      <p>Supernatural elements are unique but the story is boring mostly due to limp world-building and a lack of character development.</p>
    </article>
  </main>
<%- include partials/footer %>