<%- include partials/header %>
  <main class="blog-post">
    <article>
      <div class="article-header">
        <h1>Book Review: Red River by Chie Shinohara</h1>
        <div class="author-date">
          <p>Author</p>
          <p>Published</p>
          <p>Katherine Picazo</p>
          <p>September 9, 2015</p>
        </div>
      </div>
      <div class="series-info"> 
        <p>Length: 28 volumes</p>
        <p>Genres: Shojo - fantasy, romance</p>
        <p>Publisher: <a href="https://www.viz.com/red-river" target="_blank">Viz Media</a> (out of print now, but digital volumes available)</p>
      </div>

      <h2>Summary</h2>
      <p>Yuri, a 15-year-old Japanese schoolgirl, gets transported to ancient Anatolia by an evil queen who needs her for a blood sacrifice in order to place her son on the throne. Luckily for Yuri, Prince Kail comes to her rescue. A renowned sorcerer himself, Kail promises to send Yuri back to her own time, but the queen’s schemes keep getting in the way. Stuck in Anatolia, Yuri must navigate a foreign world full of intrigue and danger as she tries to find a way back home.</p>

      <h2>Review</h2>
      <p>Viz is coming out with digital sales for their older shojo fantasy titles in honor of Yona of the Dawn debuting in North America! So I went ahead and splurged on Red River. While I do love to see physical copies on my shelf, these older titles have been out of print for years and it’s way too much of a hassle to track down affordable copies where I live.</p>

      <p>So anyway, Red River. This thing’s a classic, yes? Not hard to see why. It’s got adventure in a foreign land and a grand love story – and the 90’s shojo art style makes everything look so dramatic and romantic. It’s easy to get swept away by it all.</p>

      <p>That’s all the good I have to say about it, though… ‘cuz honestly I wasn’t really feeling this one much. After a few volumes the story begins to feel very repetitive. There are a bunch of reasons why this is the case:</p>
      
      <p><strong>Nakia is a boring villain.</strong> This matters a lot because she’s the main source of conflict for the whole story. We don’t understand her motivation until late in the story and even then all we get are a few cursory flashbacks. A series this long should have spent more time exploring her character to add some much-needed nuance to the central conflict.</p>

      <p><strong>The protagonists are too passive.</strong> Nakia pretty much drives the entire story. She’s always the one taking initiative and the heroes merely react to her schemes. What’s most irritating is that the heroes find out early on that she’s behind all the crazy shit happening, and yet they do zilch to stop her until the very last minute.</p>

      <p><strong>Yuri is... too perfect.</strong> This is my main beef with Red River. I’m supposed to believe that a 20th century teenager suddenly becomes a master equestrian and sword fighter, can lead an entire army into complicated military maneuvers, and have a bunch of powerful men fall in love with her instantly and claim her for their own? And despite Yuri being able to command elite soldiers and an entire army, she still gets captured all the fucking time. WHO ON EARTH MADE HER IN CHARGE OF THE ARMY WHEN SHE CAN’T EVEN MANAGE BASIC SELF-DEFENSE?!?! Ugh, whatever.</p>

      <p>I’m making it sound like all of Red River is horrible and that couldn’t be further from the truth. The love story between Yuri and Kail is nice, and Kail’s devotion to Yuri is actually quite moving. There are some memorable secondary characters, too. But overall… I’d be lying if I said I enjoyed this manga. Perhaps I expected too much. Red River is okay for light reading but if you’re wanting something more complex when it comes to character development and conflict, I’d look elsewhere.</p>
    </article>
  </main>
<%- include partials/footer %>