<%- include partials/header %>

<main class="thank-you">
  <h1>Thank you!</h1>

  <h2>You have submitted the following information:</h2>
  <ul>
    <li>Name: <%= data.name %></li>
    <li>Email: <%= data.email %></li>
    <li>Are You 18? 
      <% if (data.adult) { %>
        Yes
      <% } else { %>
        No
      <% } %>  
    </li>
  </ul>
</main>

<%- include partials/footer %>